<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AndroidTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="iMobieTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AndroidTransfer.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSkip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MediaDownloadCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsFirstUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsActivityShow" serializeAs="String">
                <value>False</value>
            </setting>
        </AndroidTransfer.Properties.Settings>
        <iMobieTransfer.Properties.Settings>
            <setting name="Culture" serializeAs="String">
                <value/>
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdateSkip" serializeAs="String">
                <value>False</value>
            </setting>
        </iMobieTransfer.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="imobie_validationBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dl.imobie.com:80/verifyonline/php/validationservice.php" binding="basicHttpBinding" bindingConfiguration="imobie_validationBinding" contract="verifyonline.imobie_validationPort" name="imobie_validationPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
